.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  background-color: #fff;
  border-bottom: 1px solid #d7dfe9;
  position: sticky;
  top: 0;
  z-index: 100;
}

.left__section,
.right__section {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.button {
  background-color: #2dca73;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.logo {
  height: 2.5rem;
}

.profile__icon {
  height: 40px;
  border-radius: 50%;
}

@media only screen and (max-width: 640px) {
  .header {
    padding: 1rem 1rem !important;
  }
}
