body {
  margin: 0;
  font-family: "HK Grotesk", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 14px;
  background: #fbfbfb;
}

.container {
  width: 1290px;
  margin: auto;
  overflow: auto;
}
@media only screen and (max-width: 768px) {
  .container {
    width: 860px;
  }
  .add__items__main {
    flex-direction: column-reverse !important;

    padding-bottom: 1rem;
  }
  .add__items__back_button {
    font-size: 16px;
    font-weight: 600;
    color: black;
  }
}
@media only screen and (max-width: 640px) {
  .container {
    width: 320px;
  }
  .add__items__main {
    flex-direction: column-reverse !important;
    height: auto !important;
    padding-bottom: 1rem;
  }
  .add__items__back_button {
    left: 1rem !important;
  }
}

.container::-webkit-scrollbar {
  width: 0;
  background-color: #f5f5f5;
}

.container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ccc;
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.add__items__main {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 74px);
}

.add__items__main__half {
  flex: 1;
  height: 100%;
  justify-content: center;
  margin: auto;
  align-items: center;
  display: inline-flex;
  flex-direction: column;
}

.add__items__form {
  justify-content: center;

  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 1.5rem;
}

.add__items__heading {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #171f46;
}

.add__items__back_button {
  position: absolute;

  left: 3rem;
  top: 94px;
  font-family: "HK Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  /* Grey/100 */

  color: #7e858e;
  display: flex;
  gap: 5px;
  cursor: pointer;
}

.form__submit {
  background: #0b69ff;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
